/*******************************
UNIVERSAL SELECTORS
*******************************/

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
}

form {
    width: 100%;
    height: 100%;
}

.page-title {
    color: white;
    background-color: rgb(45, 57, 69);
    font-size: 1em;
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin: auto;
}

h1,
h2,
p {
    text-align: center;
    
} 

/*******************************
SECTION SELECTORS
*******************************/

.main-wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.signup__title {
    color: #2d3945;
    font-size: 1.1rem;
    padding-top: .8em;
    margin-top: 0;
    margin-bottom: .7em;
    font-weight: 700;
}

.signup__text {
    display: block;
    font-size: .85em;
    width: 90%;
    margin: 0 auto;
    color: rgba(0, 0, 0, .3);
}

.border1,
.border2 {
    display: block;
    width: 95%;
    border-bottom: solid black 2px;
    margin: 1.6em auto;
    margin-top: 2.7em;
    position: relative;
}

.border1:before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: solid black 4px;
    left: 0;
    bottom: 3px;
    width: 100%;
}

.border2 {
    margin-top: 1.3em;
}

fieldset {
    border: none;
    width: 100%;
}

legend {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 1em;
}

.copyright {
    display: block;
    font-size: .85em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

/*******************************
INPUT/LABEL SELECTORS
*******************************/

.form-control input {
    background-color: #e1e7ed;
}

label,
p {
    color: rgba(0, 0, 0, .4);
    display: block;
}

label {
    color: rgba(0, 0, 0, .8);
    font-size: .9em;
    font-weight: 400;
}

.form-control label {
    margin: 10px 0;
}

input,
select,
label[for],
button {
    cursor: pointer;
    display: block;
}

input,
select,
textarea {
    border-radius: 5px;
    height: 50px;
    padding-left: 1em;
}

input:focus,
select:focus,
textarea:focus {
    background: #fff;
}
 
.state {
    color: rgba(0, 0, 0, .4);
    background-color: #e1e7ed;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    font-size: .9em;
    font-style: italic;
    text-align: right;
    font-weight: 300;
    padding-right: 2em;
}

input:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    font-size: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    margin: auto;
    border: none;
}

input[id="zip"] {
    max-width: 155px;
    margin: 0;
}

.checkbox-container,
.radio-container {
    height: 1em;
    margin: 1em auto;
}

.checkbox-section input,
.radio-section input {
    display: none;
}

.checkbox-container label,
.radio-container label {
    position: relative;
}

.checkbox-container span,
.radio-container span {
    padding-left: 2em;
}

.checkbox-container span:before,
.radio-container span:before {
    position: absolute;
    content: "";
    background-color: #e1e7ed;
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
    left: 0;
    margin: auto;
}

.checkbox-container span:before {
    border-radius: 5px;
}

.radio-container span:before {
    border-radius: 50%;
}

.checkbox-container input:checked + label span:before,
.radio-container input:checked + label span:before {
    border: .15em solid rgba(0, 0, 0, .6);
    height: 1em;
    width: 1em;
    line-height: 1em;
    transition: .1s linear;
}

.checkbox-container input:checked + label span:after {
    position: absolute;
    left: 4px;
    bottom: 1px;
    content: "\2713";
    color: rgba(0, 0, 0, .6);
    font-size: 12px;
    font-weight: 600;
    transition: .1s linear;
}

.radio-container input:checked + label span:after {
    position: absolute;
    left: 2.4px;
    top: 1px;
    content: "\2022";
    line-height: .45em;
    height: 20px;
    color: rgba(0, 0, 0, .6);
    font-size: 38px;
    font-weight: 600;
    transition: .1s linear;
}

.topics {
    height: 100px;
    margin-top: .5em;
    background-color: #e1e7ed;
}

button {
    color: white;
    font-size: 1.15em;
    font-weight: 500;
    width: 100%;
    height: 3.2em;
    margin: 1.4em auto 2em;
    border-radius: 5px;
    background-color: rgb(78, 187, 181);
}

/************************
Media Queries
************************/

@media (min-width: 768px) {
    .main-wrapper {
        max-width: 600px;
        margin: auto;
        padding-top: 2.4em;
    }

    .border1 {
        width: 96%;
        margin: 3.3em auto 3em;
    }

    .border2 {
        width: 96%;
        margin: 2.5em auto 3em;
    }

    fieldset {
        width: 100%;
    }

    .page-title {
        font-size: 1.2em;
        font-weight: 400;
    }

    .signup h2 {
        font-size: 1.4em
    }

    .form-control {
        position: relative;
        height: 50px;
        width: 100%;
        margin: 20px auto;
    }

    .form-control:nth-child(2) {
        margin-top: 0;
    }

    .form-control label {
        display: inline-block;
        height: 50px;
        position: absolute;
        left: 0;
        line-height: 50px;
    }

    .form-control input,
    .form-control select {
        position: absolute;
        right: 0;
        width: 444px;
    }

    .form-control .zip {
        width: 155px;
        left: 133px;
    }
}
